<mat-toolbar color="primary">
    <button mat-raised-button><a routerLink="/home"> Home</a></button>
    <a *ngIf="loggedIn" (click)="logOut()" mat-icon-button class="f">LogOut</a>
  </mat-toolbar><router-outlet></router-outlet>
  <mat-sidenav-container color="accent" style="height: 100%;">
  <div style="margin-left: 600px;margin-top: 150px;">
  <h2>Sign Up Form</h2>
  <form (submit)="registerFun()" [formGroup]="regForm">

    <div class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
            <input type="email" matInput placeholder="Email" formControlName="email">
            </mat-form-field>
            <div *ngIf="regForm.controls['email'].hasError('required')">*Email is Required </div>
            </div>

  
  <div class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
        <input type="text" matInput placeholder="User Name" formControlName="userName">
    </mat-form-field>
        </div>
  
  <div class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
        <input type="number" matInput placeholder="Phone Number" formControlName="phoneNo">
        </mat-form-field></div>

  <br>
  <div style="display: flex;gap:20px" >
  <button mat-raised-button type="submit" (submit)="registerFun()">Sign Up</button><br>
  <button mat-raised-button (click)="getback()">Go Back</button>
  </div></form></div></mat-sidenav-container>

